<section class="topScreenWrapper">
  <section class="videoBackground">
    <%= video_tag(['videos/welcome.mp4', 'videos/welcome.webm', 'videos/welcome.ogv'], controls: false, autoplay: true, loop: true, poster: 'welcome_bg.jpg') %>
  </section>

  <section class="welcome">

    <div class="centerizer">

      <div class="logo"></div>

      <aside>
        <h2>© Меняем медиаландшафт</h2>
        <p><%= @about %></p>
      </aside>

      <%= render 'share' %>
      <div class="chevron"></div>

    </div>
  </section>

  <section class="promo">
    <div class="centerizer">
      <div class="promoGif bubble">
        <div class="playButtonCircle" id="play">
          <div class="playButtonTriangle"></div>
        </div>
        <h2>Смотреть промо-ролик</h2>
      </div>
    </div>
  </section>

  <section class="video">
    <div class="centerizer">
      <%= render 'video' %>
    </div>
  </section>

</section>

<%= render 'schedule' %>

<section class="registration">
  <section class="videoBackground">
    <%= video_tag(['videos/registration.mp4', 'videos/registration.webm', 'videos/registration.ogv'], controls: false, autoplay: true, loop: true, poster: 'registration_bg.jpg') %>
  </section>

  <div class="centerizer">

    <div class="logo1"></div>
    <h2>
      Станьте гостем MediaMakers, зарегистрировавшись<br>
      на официальной странице мероприятия на Exchang.es</h2>
      <a class="registerButton" target="_blank" href="https://exchang.es/e/oghlianities-miedia-mieniaiutsia-prievrashchaias-v-iedinyi-dinamichnyi-potok-informatsii-priamo-u-nas-na-ghlazakh">зарегистрироваться</a>
    <div class="logo2"></div>

  </div>
</section>

<section class="address">
  <header class="map" id="map" data-latitude="55.758478" data-longitude="37.61053"></header>

  <footer>
    <p>
      Ждем вас <strong>29 октября</strong> в креативном
      пространстве <strong>DI Telegraph</strong> по адресу:
      Москва, <strong>ул. Тверская, д.7</strong><br>
      Вход со стороны Газетного переулка
      9 подъезд, 5 этаж
    </p>
  </footer>
</section>

<section class="partners">
  <header>
    <h2><span>Партнеры</span></h2>
  </header>

  <ul class="orgs">
    <li>
      <a href="http://slon.ru/" class="logo slon" target="_blank"></a>
      <p>организатор конференции</p>
    </li>
    <li>
      <a href="http://www.rusventure.ru/ru/" class="logo rbk" target="_blank"></a>
      <p>учредитель конференции</p>
    </li>
  </ul>

  <!-- <footer>
    <hr noshade>

    <ul>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
      <li>
        <div class="logo"></div>
        <p>организатор<br>конференции</p>
      </li>
    </ul>
  </footer> -->
</section>

<section class="credits">
  <div class="logo"></div>

  <div class="centerizer">
    <aside>
      <%= render 'share' %>

      <h2>Над проектом работали</h2>

      <p><a href="https://www.facebook.com/valdis.lovethis">Валдис Белых <span class="grey">Арт-директор</span></a></p>
      <p><a href="http://zakharday.com">Захар День <span class="grey">Веб-разработчик</span></a></p>
      <p><a href="https://www.facebook.com/tekhlikidi">Илья Техликиди <span class="grey">Креативный продюсер</span></a></p>
      <br>
      <p><a href="https://www.facebook.com/thegreatfruit">Branding, Web Design, Video Production by <span class="grey">the Great Fruit®</span></a></p>
    </aside>
  </div>

  <footer>
    <div class="logo"></div>
    <p>© Media Makers / 2014</p>
  </footer>
</section>
