<% if mobile_device? %>
  <section class="mobileBackground"></section>
<% else %>

  <%
    if browser.firefox? || browser.opera?
      video_file = asset_url('videos/welcome.webm')
    else
      video_file = asset_url('videos/welcome.mp4')
    end
  %>

  <script>
    var video_file_1 = "<%= video_file %>";
  </script>

  <section class="videoBackground" id="topVideoBackground">
    <%#= video_tag(video_file, controls: false, autoplay: true, loop: true, poster: 'welcome_bg.jpg') %>
  </section>
<% end %>


<%= render 'preloader' unless mobile_device? %>
<%= render 'menu' unless mobile_device? %>
<%= render 'welcome' %>
<%#= render 'promo' %>
<%= render 'video' %>
<%= render 'schedule' %>
<%= render 'registration' %>
<%= render 'address' %>
<%= render 'partners' %>
<%= render 'credits' %>
