<section class="schedule">
  <header class="top">
    <aside>
      <a href="http://slon.ru/" class="logo slon" target="_blank"></a>
      <a href="http://www.rusventure.ru/ru/" class="logo rbk" target="_blank"></a>
    </aside>
    <h2>Расписание</h2>
  </header>

  <section class="session">
    <ul>
      <li class="noBorder">
        <div class="wrapper">
          <div class="time">9<span>30</span> – 09<span>50</span></div>
          <div class="line"><hr noshade></div>
          <div class="about"><h4>Сбор гостей</h4></div>
        </div>
      </li>
    </ul>
  </section>

  <section class="session">
    <header id="intro">
      <div class="left"></div>
      <div class="right"><span>Вступительное слово</span></div>
    </header>

    <ul>
      <li>
        <div class="wrapper">
          <div class="time">9<span>50</span> – 9<span>55</span></div>
          <div class="photo"><%= image_tag 'presenters/Potapov.jpg' %></div>
          <div class="about">
            <h4>Александр Потапов</h4>
            <p>Заместитель генерального директора — исполнительный директор, член правления <a href="http://www.rusventure.ru/ru/" target="_blank">РВК</a></p>
          </div>
        </div>
      </li>

      <li class="noBorder">
        <div class="wrapper">
          <div class="time">9<span>55</span> – 10<span>00</span></div>
          <div class="photo"><%= image_tag 'presenters/Kashulinsky.jpg' %></div>
          <div class="about">
            <h4>Максим Кашулинский</h4>
            <p>Генеральный директор <a href="http://slon.ru/" target="_blank">Slon.ru</a></p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="blackSeparator">
    <p>
      После каждого выступления спикера —<br>
      10-минутный сет вопросов и ответов
    </p>
  </section>

  <section class="session">
    <header id="firstSession">
      <div class="left"><span>Сессия 1</span></div>
      <div class="right"><span>Технологии и медиа будущего</span></div>
    </header>

    <ul>
      <li>
        <div class="wrapper">
          <div class="time">10<span>00</span> – 10<span>10</span></div>
          <div class="photo"><%= image_tag 'presenters/Navosha.jpg' %></div>
          <div class="about">
            <h4>Дмитрий Навоша</h4>
            <p>Генеральный директор <a href="http://www.sports.ru/" target="_blank">Sports.ru</a></p>
            <p class="descriptor">«Agile Media Business: вызовы и возможности издателей цифровой эпохи»</p>
          </div>
        </div>
      </li>

      <li>
        <div class="wrapper">
          <div class="time">10<span>20</span> – 10<span>30</span></div>
          <div class="photo"><%= image_tag 'presenters/Ametov.jpg' %></div>
          <div class="about">
            <h4>Леша Аметов</h4>
            <p>Издатель и сооснователь <a href="http://www.lookatme.ru/" target="_blank">Look At Media</a></p>
            <p class="descriptor">«Новый первый экран: медиа в эпоху всеобщей “мобилизации”»</p>
          </div>
        </div>
      </li>

      <li>
        <div class="wrapper">
          <div class="time">10<span>40</span> – 10<span>50</span></div>
          <div class="photo"><%= image_tag 'presenters/Karpov.jpg' %></div>
          <div class="about">
            <h4>Дмитрий Карпов</h4>
            <p>Куратор курса «Дизайн в интерактивной среде» <a href="http://www.britishdesign.ru/" target="_blank">БВШД</a></p>
            <p class="descriptor">«От массовых медиа — к интимным»</p>
          </div>
        </div>
      </li>

      <li>
        <div class="wrapper">
          <div class="time">11<span>00</span> – 11<span>10</span></div>
          <div class="photo"><%= image_tag 'presenters/Gladkoborodov.jpg' %></div>
          <div class="about">
            <h4>Антон Гладкобородов</h4>
            <p>Основатель <a href="http://coub.com/" target="_blank">Coub</a></p>
            <p class="descriptor">«Преимущества ограничения медийного формата»</p>
          </div>
        </div>
      </li>

      <li class="noBorder">
        <div class="wrapper">
          <div class="time">11<span>20</span> – 11<span>30</span></div>
          <div class="photo"><%= image_tag 'presenters/Kirakosyan.jpg' %></div>
          <div class="about">
            <h4>Артем Киракосьян</h4>
            <p>Вице-президент по маркетингу <a href="http://www.okko.tv" target="_blank">Okko</a></p>
            <p class="descriptor">«Сохранение потокового видеосмотрения и новые рекламные возможности новых телевизионных интерфейсов»</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="session">
    <header>
      <div class="left"><span>On-Stage</span></div>
      <div class="right"><span>интервью</span></div>
    </header>

    <ul>
      <li>
        <div class="wrapper">
          <div class="time">11<span>45</span> – 12<span>30</span></div>
          <div class="photo"><%= image_tag 'presenters/Kaplun.jpg' %></div>
          <div class="about">
            <h4>Герман Каплун</h4>
            <p>Партнер фонда <a href="http://www.tmtinvestments.com/" target="_blank">TMT Investments</a>, экс-гендиректор <a href="http://www.rbc.ru/" target="_blank">РБК</a></p>
            <p class="descriptor">«Новые медиа: чего ждут инвесторы?»</p>
          </div>
        </div>
      </li>

      <li class="noBorder">
        <div class="wrapper">
          <div class="time">12<span>30</span> – 13<span>00</span></div>
          <div class="line"><hr noshade></div>
          <div class="about"><h4>Кофе-брейк</h4></div>
        </div>
      </li>
    </ul>
  </section>

  <section class="session">
    <header>
      <div class="left"><span>Сессия 2</span></div>
      <div class="right"><span>Бизнес-модели новых медиа</span></div>
    </header>

    <ul>
      <li>
        <div class="wrapper">
          <div class="time">13<span>00</span> – 13<span>10</span></div>
          <div class="photo"><%= image_tag 'presenters/Kiryushina.jpg' %></div>
          <div class="about">
            <h4>Елена Кирюшина</h4>
            <p>Руководитель интернет-редакции <a href="http://tvrain.ru/" target="_blank">Телеканала Дождь</a></p>
            <p class="descriptor">«Как продавать подписку: 5 простых шагов»</p>
          </div>
        </div>
      </li>

      <li>
        <div class="wrapper">
          <div class="time">13<span>20</span> – 13<span>30</span></div>
          <div class="photo"><%= image_tag 'presenters/Sus.jpg' %></div>
          <div class="about">
            <h4>Сергей Сус</h4>
            <p>Директор по развитию <a href="http://action-media.ru/" target="_blank">Актион Медиа</a></p>
            <p class="descriptor">«Как построить бизнес целиком на подписке»</p>
          </div>
        </div>
      </li>

      <li>
        <div class="wrapper">
          <div class="time">13<span>40</span> – 13<span>50</span></div>
          <div class="photo"><%= image_tag 'presenters/Romanovsky.jpg' %></div>
          <div class="about">
            <h4>Паша Романовский</h4>
            <p>Инвестор, основатель <a href="http://socialist.pro/" target="_blank">Socialist Group</a></p>
            <p class="descriptor">«Back to the future: контент, технологии, монетизация»</p>
          </div>
        </div>
      </li>

      <li>
        <div class="wrapper">
          <div class="time">14<span>10</span> – 14<span>20</span></div>
          <div class="photo"><%= image_tag 'presenters/Ilichev.jpg' %></div>
          <div class="about">
            <h4>Михаил Ильичев</h4>
            <p>Генеральный директор <a href="http://dreamindustries.co/" target="_blank">Dream Industries</a></p>
            <p class="descriptor">«Аудиореклама — ключ к построению работающей экономики онлайн-музыки»</p>
          </div>
        </div>
      </li>

      <li>
        <div class="wrapper">
          <div class="time">14<span>20</span> – 14<span>30</span></div>
          <div class="photo"><%= image_tag 'presenters/Kurmyshev.jpg' %></div>
          <div class="about">
            <h4>Илья Курмышев</h4>
            <p>Директор по продвижению инновационной деятельности <a href="http://www.rusventure.ru/ru/" target="_blank">РВК</a></p>
            <p class="descriptor">«Модель Media4Equity и другие возможности для нишевых СМИ в работе с масс-медиа»</p>
          </div>
        </div>
      </li>

      <li>
        <div class="wrapper">
          <div class="time">14<span>40</span> – 14<span>50</span></div>
          <div class="photo"><%= image_tag 'presenters/Lamonov.jpg' %></div>
          <div class="about">
            <h4>Дмитрий Ламонов</h4>
            <p>Менеджер по работе с ключевыми клиентами <a href="http://www.google.ru" target="_blank">Google</a></p>
            <p class="descriptor">«Programmatic advertising: что видим сейчас и что ожидаем в 2015 году»</p>
          </div>
        </div>
      </li>

      <li class="noBorder">
        <div class="wrapper">
          <div class="time">15<span>00</span> – 16<span>00</span></div>
          <div class="line"><hr noshade></div>
          <div class="about"><h4>Коктейль</h4></div>
        </div>
      </li>
    </ul>
  </section>
</section>
