<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'full' unless mobile_device? %>
  <%= stylesheet_link_tag    'mobile' if mobile_device? %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" %>

  <link rel="image_src" href="/share_image.png">

  <%= csrf_meta_tags %>

  <meta property="og:title"       content="<%= @title %>" />
  <meta property="og:type"        content="website" />
  <meta property="og:site_name"   content="MediaMakers" />
  <meta property="og:image"       content="http://mediamakers.ru/share_image.png"   />
  <meta property="og:description" content="<%= @description %>" />
  <meta property="og:url"         content="http://mediamakers.ru" />

  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <meta name="google-site-verification" content="llK9-cg6TqucMIHC1EUQW7LLRP598MKs2fW0AOKRxcI" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55951276-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body class="<%= preloader unless mobile_device? %>">

<%= yield %>

</body>
</html>
