<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'full' unless mobile_device? %>
  <%= stylesheet_link_tag    'mobile' if mobile_device? %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" %>

  <link rel="image_src" href="/share_image.png">

  <%= csrf_meta_tags %>

  <meta property="og:title"       content="<%= @title %>" />
  <meta property="og:type"        content="website" />
  <meta property="og:site_name"   content="MediaMakers" />
  <meta property="og:image"       content="http://mediamakers.ru/share_image.png"   />
  <meta property="og:description" content="<%= @description %>" />
  <meta property="og:url"         content="http://mediamakers.ru" />

  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
</head>
<body>

<%= yield %>

</body>
</html>
